@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer {
  .gradient {
    background: rgb(154, 1, 255);
    background-position: top left;
    background: linear-gradient(
      120deg,
      rgba(154, 1, 255, 0.17130602240896353) 0%,
      rgba(251, 87, 176, 0.29175420168067223) 18%,
      rgba(244, 188, 109, 0.17130602240896353) 28%,
      rgba(255, 255, 255, 1) 100%
    );
    border: transparent;
  }

  .signup-gradient {
    background: hsl(287, 100%, 92%);
    background: linear-gradient(
      to right,
      rgb(254, 254, 252) 0%,
      hsl(286, 100%, 95%) 100%
    );
  }
}
